


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ollie Pegram</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">portfolio</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="color-fill">
    <div class="title-top">
        <div class="hi">hi</div>
        <div class="there">there.</div>
        <h2>fullstack developer | sydney
        </h2>
        <a class="btn btn-title" onclick="scrollTo('#portfolio')">View work</a>
        <a class="btn btn-title" onclick="scrollTo('#about')">Contact me</a>
    </div>
    <!-- <div class="social">

        <a href="https://au.linkedin.com/in/oliver-pegram-a38635123" class="btn btn-title" style="border-bottom:0;" target="_blank">Linkedin</a>

        <a href="https://github.com/olliepegram" class="btn btn-title" style="border-bottom:0;" target="_blank">GitHub</a>

        <a href="https://twitter.com/olliepegram" class="btn btn-title" style="border-bottom:0;" target="_blank">Twitter</a>

    </div> -->
</div>

<div class="container-fluidd">
    <div id="about" class="nextButton">
        <h1>About me</h1>
        <h2>Ollie Pegram</h2>
        <h3>Web Developer</h3>
        <p class="about-text">About me</p>
        <p>I'm an 19 year old developer from Sydney, Australia.</p>
        <p>I like to make and break stuff,
        </p>
        <p>Preferably whilst drinking coffee.</p>
        <div class="social">
          <a href="https://github.com/olliepegram"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://au.linkedin.com/in/oliver-pegram-a38635123"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/olliepegram"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="contact">
        <h1>get in touch</h1>
        <h2>I'd love to hear from you</h2>
        <div class="form">

            <%= render 'enquiries/form', enquiry: @enquiry %>
        </div>
        <div>
            <% flash.each do |key, value| %>
            <div>
                <a href="#" data-dismiss="alert">×</a>
                <%= value %>
            </div>
            <% end %>
        </div>
    </div>
    <div class="wrapper deep">
        <h1>My work</h1>
        <div class="row work">
            <div class="col-md-offset-2 col-md-8">
                <div class="addPadding1">
                    <div class="sidebar1">
                        <div class="title">Observe Studio</div>
                        <div class="project-desc">A creative media company that
                        </br>produces websites/designs</div>
                </div>
                <div class="project-image"></div>

            </div>
        </div>
        <div class="col-md-offset-2 col-md-8">
            <div class="addPadding">
                <div class="sidebar">
                    <div class="title">Portfolio</div>
                    <div class="project-desc">My personal site to display my projects.</div>
                </div>
                <div class="project-image"></div>

            </div>
        </div>
    </div>
</div>
<footer>
    <p>Ollie Pegram</p>
</footer>
</div>
