<img class="nav-name" src="/assets/logo.png" height="50px" width="350px">
<nav class="top-nav">
    <a onclick="scrollTo(0)" class="btn btn-main btn-selected">home</a>
    <a type="button" class="btn btn-main btn-selected">about</a>
    <a onclick="scrollTo('#portfolio')" class="btn btn-main btn-selected">portfolio</a>
    <a onclick="scrollTo('#contact')" class="btn btn-main btn-selected">contact</a>
</nav>
<div class="color-fill">
    <div class="title-top">
        <div class="hi">hi</div>
        <div class="there">there.</div>
        <h2>fullstack developer | sydney
        </h2>
        <a class="btn btn-title" onclick="scrollTo('#portfolio')">View work</a>
        <a class="btn btn-title" onclick="scrollTo('#about')">Contact me</a>
    </div>
    <div class="social">

        <a href="https://au.linkedin.com/in/oliver-pegram-a38635123" class="btn btn-title" style="border-bottom:0;" target="_blank">Linkedin</a>

        <a href="https://github.com/olliepegram" class="btn btn-title" style="border-bottom:0;" target="_blank">GitHub</a>

        <a href="https://twitter.com/olliepegram" class="btn btn-title" style="border-bottom:0;" target="_blank">Twitter</a>

    </div>
</div>

<div class="container-fluidd">
    <div id="about" class="nextButton">
        <h1>About me</h1>
        <h2>Ollie Pegram</h2>
        <h3>Web Developer</h3>
        <p class="about-text">About me</p>
        <p>I'm an 19 year old developer from Sydney, Australia.</p>
        <p>I like to make and break stuff,
        </p>
        <p>Preferably whilst drinking coffee.</p>
    </div>
    <div class="contact">
        <h1>get in touch</h1>
        <h2>I'd love to hear from you</h2>
        <div class="form">

            <%= render 'enquiries/form', enquiry: @enquiry %>
        </div>
        <div>
            <% flash.each do |key, value| %>
            <div>
                <a href="#" data-dismiss="alert">×</a>
                <%= value %>
            </div>
            <% end %>
        </div>
    </div>
    <div class="wrapper deep">
        <h1>My work</h1>
        <div class="row work">
            <div class="col-md-offset-2 col-md-8">
                <div class="addPadding1">
                    <div class="sidebar1">
                        <div class="title">Observe Studio</div>
                        <div class="project-desc">A creative media company that
                        </br>produces websites/designs</div>
                </div>
                <div class="project-image"></div>

            </div>
        </div>
        <div class="col-md-offset-2 col-md-8">
            <div class="addPadding">
                <div class="sidebar">
                    <div class="title">Portfolio</div>
                    <div class="project-desc">My personal site to display my projects.</div>
                </div>
                <div class="project-image"></div>

            </div>
        </div>
    </div>
</div>
<footer>
    <p>Ollie Pegram</p>
</footer>
</div>
