// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bod {
    background-color: #e6e6e6;
    font-family: 'Miriam Libre', sans-serif;
    width: 100vw;
    height: 100vh;
    border-top: 5px solid #2a86e6;
    border-bottom: 5px solid #2a86e6;
}
.bod::after {
    content: "";
    background: url("/assets/gridme.png");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.name {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.name h1 {
    font-size: 40px;
}
.name h2 {
    font-size: 30px;
}
.cont-b,
.view-b {
    margin: 30px auto;
    width: 150px;
    padding: 12px;
    display: inline-block;
    border-top: 2px solid #2a86e6;
    border-bottom: 2px solid #2a86e6;
    margin: 15px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #2a86e6;
    transition: all ease 0.8s;
}
.cont-b:hover,
.view-b:hover {
    box-shadow: inset 0 100px 0 0 #2a86e6;
    color: #fff;
}
.cont-b p,
.view-b p {
    margin: auto;
    display: inline-block;
}
.social {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.social1,
.social2,
.social3 {
    display: inline-block;
    margin: 80px;
    padding: 10px;
}
.social1 p,
.social2 p,
.social3 p {
    margin: auto;
}
.social1 {
    border-top: 2px solid #0077b5;
}
.social2 {
    border-top: 2px solid #0077b5;
}
.social3 {
    border-top: 2px solid #0077b5;
}
