// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #6534FF;

* {
    font-family: 'Miriam Libre', sans-serif;
    color: #fff;

}

a {
  cursor: pointer;
}

.bod {
    background: $primary-color;
    height: 100%;
    width: 100%;
    color:#fff;
}

.bod a {
    text-decoration: none;
    color: inherit;
}

.bod a:hover {
    text-decoration: none;
    color: inherit;
}

.bod a:visited {
    text-decoration: none;
    color: inherit;
}

.top {
    background-color: #f2f2f2;
    font-family: 'Miriam Libre', sans-serif;
    width: 100%;
    height: 100%;
}

.bod .social {
  margin:10px;
  text-align: center;
}

.bod .social .fa {
  margin:50px;
  transition: all ease 0.8s;
}

.bod .social .fa:hover {
  color:#000;
}

 .bod .navbar {
     transition: 0.5s;
     font-size: 1.2em;
     background-color: $primary-color;
     color:#fff;
     border:0px;
}

.bod .navbar .navbar-brand {
  font-size: 1.3em;
  margin:10px;
}

.bod .navbar .nav li {
  box-shadow: inset 0 0 0 0 #fff;
  transition: all ease 0.8s;
  margin:10px;
}

.bod .navbar .nav li:hover {
  box-shadow: inset 0 100px 0 0 #fff;
}

.bod .navbar .nav a {
  color:#fff;
  text-transform: uppercase;
  transition: all ease 0.8s;
}

.bod .navbar .nav a:hover {
  color:$primary-color;
}

.bod .color-fill {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
}

.bod .title-top {
  margin-top: 35vh;
  width: 100%;
  text-align: center;
}

.bod .there, .hi {
    color: $primary-color;
    display: inline-block;
    font-size: 40px;
    border: 3px solid #fff;
    padding: 15px;
    margin: -5px;
}

.bod .hi {
    color: #fff;
}

.bod .there {
    background-color: #fff;
    color: $primary-color;
}

.bod .btn {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    position: relative;
    box-shadow: inset 0 0 0 0 #fff;
    transition: all ease 0.8s;
    border-radius: 0;
    border-left: 0;
    border-right:0;
}

.bod .btn:hover {
  box-shadow: inset 0 100px 0 0 #fff;
  color:$primary-color;
}

.bod .btn-main {
    text-transform: uppercase;
    margin: 10px;
}

.bod .btn-title {
  text-transform: uppercase;
  margin: 10px 30px;
  border-top: 2px solid #fff;
  border-bottom:2px solid #fff;
  font-size: 16px;
}

.container-fluidd {
  position: relative;
  margin-top: calc(100vh - 150px);
  width: 100%;
  padding-top: 95px;
  z-index: 1;
  background-color: #fff;
  height:100%;
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 10px;
}

footer p {
  color:#000;
}
