/* WORK SECTION */
.deep {
    height: auto;
    width: 100%;
    padding: 30px;
    clear: both;
    margin: 0 auto;
    background-color: #000;
}

.deep h1 {
  text-align: center;
  color:#fff;
}

.work {
    text-align: center;
    margin: 20px;
}

.addPadding {
    height: 200px;
    background: url("/assets/work2.png");
    border: 3px solid #fff;
    margin: 20px;
}

.addPadding:hover {
  /* top, transparent red, faked with gradient */
  background:linear-gradient( to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ),
  /* bottom, image */
  url(  "/assets/work2.png");
}

.sidebar {
    background-color: #fff;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
    color: #000 !important;
}

.sidebar:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 80px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 12px solid transparent;
}

.sidebar1 {
    background-color: #fff;
    float: right;
    height: 100%;
    position: relative;
    width: 50%;
    color: #000;
}

.sidebar1:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 80px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 12px solid transparent;
}

.addPadding1 {
    height: 200px;
    background: url("/assets/work.png");
    border: 3px solid #fff;
    margin: 20px;
}

.addPadding1:hover {
  /* top, transparent red, faked with gradient */
  background:linear-gradient( to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ),
  /* bottom, image */
  url(  "/assets/work.png");
}


.sidebar .title,
.sidebar1 .title {
    padding: 20px;
    font-size: 22px;
    color:#000;
    font-family: 'Source Sans Pro', sans-serif;
}

.sidebar .project-desc,
.sidebar1 .project-desc {
    padding: 10px;
    font-size: 20px;
    color:#000;
    font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 800px) {}
