<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <%= csrf_meta_tags %>
        <meta name="description" content = "Ollies Pegrams Portfolio">
        <meta name="author" content="Ollie Pegram">
        <meta name="keyword" content="Web developer, fullstack, design, coder, ruby, rails">
        <meta http_equiv="refresh" content="120">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="icon" href="/assets/favicon.png" sizes="16x16" type="image/png">
    </head>

    <body class="bod">
        <%= yield %>
    </body>
</html>
